.landing-content {
  color: #374785;
  position: absolute;
  top: 5rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("./bg-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.description {
  margin: 11rem 0 0 8rem;
}
.description h1 {
  text-transform: uppercase;
  font-size: 4rem;
}
.tagline {
  padding-bottom: 2em;
}
.content-message {
  padding-bottom: 0.5em;
}
.social-button {
  margin: auto;
  width: auto;
  text-align: center;
  padding-top: 2em;
}
.google-login .button {
  background: black;
}
.my-facebook-button-class {
  background: #4267b2;
  border-radius: 5px;
  color: white;
  height: 40px;
  text-align: center;
  width: 220px;
}
.fa-facebook {
  margin-right: 20px;
}
.google-login {
  background: #dd4b39;
  border-radius: 5px;
  color: white;
  height: 40px;
  text-align: center;
  width: 200px;
}
.fa-google {
  margin-right: 10px;
}
