#expense-card-container {
  height: 100%;
  max-height: 300px;
  overflow-y: scroll;
  padding-right: 15px;
}
.expense-board .card-body h5 {
  color: black;
  font-size: 15px;
}
.expense-board .card-body .card-subtitle {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: rgb(22, 22, 22);
}
.expense-board .icons {
  color: #4056A1;
  font-size: 2rem;
}
.quick-entry-btn {
  font-size: 13px;
  font-weight: 600;
}